body{
    width: 1100px;
    margin-left: 20px;
    margin-right: 10px;
}

header{
    background-color: #4da0ff;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

header > img{
    height: 100px;
    width: 200px;
}

#title{
    font-size: 45px;
}

#author, #date{
    color: grey;
}

#author{
    margin-top: -30px;
    font-size: 130%;
}

#date{
    margin-bottom: 30px;
}

#authorname{
    color: #2eaee7;
}

#photo_subtitle{
    margin-bottom: 30px;
}

.article_body{
    font-size: 120%;
}

.important{
    background-color: yellow;
}

#list{
    margin-top: 30px;
    margin-bottom: 30px;
}

table{
    margin-bottom: 30px;
}

#interest{
    margin-top: 30px;
    color: grey;
    font-size: 140%;
}
#interest, .other_video{
    font-weight: bold;
}

.other_video{
    width: 270px;
    height: 200px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: cover;
    font-size: 150%;
}

#other_1{
    background-image: url(../img/monitor.jpg);
}

#other_2{
    background-image: url(../img/graph.jpg);
}