body{
    width: 1100px;
}

header{
    background-color: #4da0ff;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

header > img{
    height: 100px;
    width: 200px;
}

#title{
    font-size: 45px;
}

#author, #date{
    color: grey;
}

#author{
    margin-top: -30px;
    font-size: 130%;
}

#date{
    margin-bottom: 30px;
}

#authorname{
    color: #2eaee7;
}

