*{
    color: rgba(163, 17, 17, 0.8);
}

body{
    width: 700px;
    margin-left: 20px;
    margin-right: 10px;
}

header{
    background-color: rgba(255,0,0,0.5);
    background-image: url("../img/pattern.png");
    background-size: 400px;
    height: 100px;
    width: 1100px;
}

header > img{
    height: 100px;
    width: 200px;
    padding-top: 15px;
    padding-left: 5px;
    background-color: transparent;
}

main{
    margin-left: 40%;
    text-align: center;
}

#title{
    font-size: 45px;
}

#author, #date{
    color: grey;
}

#author{
    margin-top: -30px;
    font-size: 130%;
}

#date{
    margin-bottom: 30px;
}

#authorname{
    color: #ff0000;
}

#photo_subtitle{
    margin-bottom: 30px;
}

.article_body{
    font-size: 120%;
}

.important{
    background-color: rgba(124, 94, 255, 0.5);
}

section > ul{
    margin-top: 30px;
    margin-bottom: 30px;
}

table{  
    margin-bottom: 30px;
    border-spacing: 0;
}

.theading{
    height: 20px;
    width: 200px;
    background-color: #0e0c62;
    color: white;
    text-align: left;
}

.bluerow{
    background-color: #ee76e8;
}

#interest{
    margin-top: 30px;
    color: rgb(253, 133, 21);
    font-size: 140%;
}

#interest, .video_title{
    font-weight: bold;
}

.video_title{
    color: white;
    font-size: 150%;
    padding: 15px;
    background-color: transparent;
}

.video_thumbnail{
    width: 270px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: cover;
}

#video_1{
    background-image: url(../img/monitor.jpg);
}

#video_2{
    background-image: url(../img/graph.jpg);
}